@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-theme-alpine {
  --ag-borders: none;
  --ag-row-border-width: 2px;
  --ag-cell-horizontal-border: var(--ag-row-border-width)
    var(--ag-row-border-style) var(--ag-row-border-color);
  --ag-header-column-separator-display: block;
}

.ag-header {
    background-color: #8a8a8a;
  border: solid 2px rgb(133, 133, 133);
}

.ag-header-cell-text {
  font-size: 16px !important;
  font-family: Montserrat, sans-serif;
}

.ag-cell {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
